<h1>static</h1>

<h2>Templates</h2>
<ul class="zebra-striping">
</ul>

<h2>Modules</h2>
<ul class="zebra-striping">
    {{#each module.pages}}
        <li>{{this.title}}</li>
    {{/each}}
    {{#withSort module 'data.title'}}
		{{#each this.pages }}
			<li>{{ this.data.title }}</li>
		{{/each}}
	{{/withSort}}
</ul>
